@import url(./_location/photo-grid_location.css);
@import url(./__item/photo-grid__item.css);


.photo-grid {
    font-family: 'Inter', 'Arial', sans-serif;
    display: grid;
    grid-template-columns: repeat(4,284px);
    grid-template-rows: repeat(3,188px);
    grid-gap: 16px;
    justify-items: stretch;
    justify-content: center;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
@media all and (max-width: 1240px) {
    .photo-grid {
        grid-template-columns: repeat(3,300px);
        grid-template-rows: repeat(4,200px);
        grid-gap: 14px;
    }
}
@media all and (max-width: 1000px) {
    .photo-grid {
        grid-template-columns: repeat(2,352px);
        grid-template-rows: repeat(6,234px);
        grid-gap: 16px;
    }
}
@media all and (max-width: 760px) {
    .photo-grid {
        grid-template-columns: repeat(1,352px);
        grid-template-rows: repeat(12,234px);
    }
}
@media all and (max-width: 375px) {
    .photo-grid {
        grid-template-columns: repeat(1,343px);
        grid-template-rows: repeat(12,232px);
    }
}
@media all and (max-width: 360px) {
    .photo-grid {
        grid-template-columns: repeat(1,288px);
        grid-template-rows: repeat(12,192px);
        grid-gap: 8px;
    }
}