.cover_position {
    margin: auto;
    margin-top: 102px;
    box-sizing: border-box;
}
@media all and (max-width: 1280px) {
    .cover_position {
        margin-left: 48px;
        margin-right: 48px;
        margin-top: 102px;
    }
}
@media all and (max-width: 1024px) {
    .cover_position {
       margin: auto;
       margin-top: 102px;
    }
}
@media all and (max-width: 425px) {
    .cover_position {
        margin-top: 48px;
    }
}