
.intro__quantity {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    max-height: 383px;
    list-style-type: none;
}
@media all and (max-width: 768px) {
    .intro__quantity {        
        font-size: 13px;
        line-height: 20px;
    }
}
@media all and (max-width: 425px) {
    .intro__quantity {        
        font-size: 12px;
        line-height: 19px;
    }
}