@import url(./__copyrights/footer__copyrights.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__navigation/footer__navigation.css);

.footer {
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 160px;
    align-items: baseline;
    padding-bottom: 48px; 
    box-sizing: border-box;
    

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
@media all and (max-width: 1280px) {
    .footer {
        padding: 160px 48px 48px;
    }
}
@media all and (max-width: 768px) {
    .footer {
        padding: 102px 48px 24px;
    }
}
@media all and (max-width: 764px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 16px 23px;
    }
}
@media all and (max-width: 425px) {
    .footer {
        padding: 64px 16px 24px;
    }
}