@import url(./_position/cover_position.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    position: relative;
    font-family: 'Inter', 'Arial', sans-serif;
    color: white;
    max-width: 1184px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover_image.jpg);
    background-blend-mode: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    
}
.cover:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover_image.jpg);
    background-blend-mode: normal;
}
@media all and (max-width: 1280px) {
    .cover {
        /* width:100%; */
        background-size: 100% 100%
    }
}
@media all and (max-width: 1024px) {
    .cover {
        background-size: cover;
        height: calc( (100vw - 768px)/(1024 - 768) * (53.78 - 65.1) + 65.1vw);
    }
}
@media all and (max-width: 768px) {
    .cover {
        height: 500px;
    }
}
@media all and (max-width: 400px) {
    .cover {
        height: 272px;
    }
}
@media all and (max-width: 320px) {
    .cover {
        height: 67.5vw;
    }
}