.video__content-subtitle {
    margin: 0;
    margin-bottom: 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    max-width: 640px;
}
@media all and (max-width: 768px) {
    .video__content-subtitle  {
        font-size: calc( (100vw - 425px)/(768 - 425) * (24 - 16) + 16px);
        line-height: calc( (100vw - 425px)/(768 - 425) * (35 - 23) + 23px);
    }
}
@media all and (max-width: 375px) {
    .video__content-subtitle  {
        font-size: 16px;
        line-height: 23px;
    }
}